<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
<section name="ItalianPizza.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
</sectionGroup>
<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
</configSections>
<system.net>
<connectionManagement>
<add maxconnection = "200" address ="*" />
</connectionManagement>
</system.net>
<system.serviceModel>
<bindings>
<netTcpBinding>
<binding maxReceivedMessageSize="80000000"/>
</netTcpBinding>
</bindings>
<client>
<endpoint address="net.tcp://localhost:8090/ItalianPizza/Backend" binding="netTcpBinding" contract="Backend.Service.IItalianPizzaService" />
</client>
</system.serviceModel>
<connectionStrings>
<add name="ItalianPizzaContext" connectionString="metadata=res://*/Models.ItalianPizzaModel.csdl|res://*/Models.ItalianPizzaModel.ssdl|res://*/Models.ItalianPizzaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-G6HSTSE\SQLEXPRESS;initial catalog=ItalianPizza;persist security info=True;user id=dani;password=limoncito1a;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
<entityFramework>
<providers>
<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
</providers>
</entityFramework>
<startup>
<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
</startup>
</configuration>